
/* Page */
body {
    overflow-x: scroll;
}

/* for wrapper */
body.is-preload #wrapper {
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
}